selenium==4.33.0
pip>=25.0.1
packaging>=24.2
setuptools~=70.2;python_version<"3.10"
setuptools>=76.0.0;python_version>="3.10"
wheel>=0.45.1
requests==2.32.3
sortedcontainers==2.4.0
execnet==2.1.1
iniconfig==2.0.0
pluggy==1.5.0
pytest==8.3.5
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==14.0;python_version<"3.9"
pytest-rerunfailures==15.0;python_version>="3.9"
pytest-xdist==3.6.1
markdown-it-py==3.0.0
mdurl==0.1.2
rich==13.9.4

